<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="Entities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.72.56.75,7023;initial catalog=FTSHRM_AVANI;persist security info=True;user id=fts_avani;password=FTSvn@AVANI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<!-- Service -->
		<!--0: Error, 1: Warning, 2: Info, 3: Debug-->
		<add key="log_level" value="3" />
		<add key="log_path" value="D:\iAndon\Biz\Art" />
		<!--Thời gian check Subscribe RabbitMQ - In seconds-->
		<add key="queue_interval" value="1" />
		<!--Thời gian xử lý message - In seconds-->
		<add key="message_interval" value="1" />
		<!--Thời gian lưu dữ liệu vào DB - In seconds-->
		<add key="data_interval" value="1" />
		<!--Thời gian tải lại dữ liệu từ DB - In seconds-->
		<add key="reload_interval" value="1" />
		<!--Thời gian xử lý chạy chuyền/tính toán - In seconds-->
		<add key="process_interval" value="1" />
		<!--Websocket Interval - In seconds-->
		<add key="websocket_interval" value="3" />
		<!--Websocket Batch-->
		<add key="websocket_batch" value="10" />
		<!--Thời gian thực hiện xóa dữ liệu live - Định kỳ theo ngày -->
		<add key="data_live_interval" value="1" />
		<!--Thời gian lưu trữ dữ liệu Raw - In days-->
		<add key="data_live_time" value="10" />
		<!--Thời gian check Disconnect - In seconds-->
		<add key="disconnected_time" value="300" />
		<!--Thời gian check Disconnect - In seconds-->
		<add key="node_for_production" value="29" />

		<!--Thời gian đọc dữ liệu đồng bộ - In seconds-->
		<add key="sync_interval" value="2" />
		<add key="sync_url" value="http://10.19.29.5/ProductionMan2.API/ProductionPlan/getProductionInfo/" />

		<!--Mức đánh giá nhanh/chậm của sản xuất - In percentage-->
		<add key="production_level" value="10" />
		<!--Thời gian xác định chuyền dừng - In minutes-->
		<add key="production_stop" value="10" />
		<!--Thời gian tối thiểu xác nhận 1 lần hoàn thành - In seconds-->
		<add key="min_takttime" value="5" />

		<!--Trong thời gian nghỉ giải lao thì có tính hay không -->
		<add key="production_in_break" value="0" />
		<add key="cuttime_in_break" value="1" />

		<!--Fix thời gian lệch giữa PLC và Server - 00:04:40 = 280 seconds -->
		<add key="fix_time_difference" value="278" />
		<!--Fix thời gian hoàn thành sản phẩm gần nhất cần tính, nhỏ hơn thì bỏ qua - In seconds -->
		<add key="fix_time_for_production" value="360" />
		<!--Fix thời gian hoàn thành sản phẩm gần nhất đến giờ thì sẽ kết thúc - In seconds -->
		<add key="fix_time_for_stop" value="300" />


		<add key="show_all_in_time" value="0" />
		<!--Tính theo công suất hay không-->
		<add key="calculate_by_performance" value="1" />
		<!--Tự động SPLIT kế hoạch theo TIME hay không -->
		<add key="auto_split_workplan_detail" value="0" />
		<!--Có sử dụng CONFIG cho PRODUCT hay dùng trực tiếp từ PRODUCT -->
		<add key="use_product_config" value="0" />
		<!--Có sử dụng giờ RESPONSE hay không -->
		<add key="use_response_event" value="0" />
		<!--Có ấy toàn bộ dữ liệu của ca để bắn lên giám sát hay lấy dữ liệu hiện thời đang chạy thôi -->
		<add key="monitoring_all_detail" value="0" />

		<!-- Rabbit setting-->
		<!--<add key="RabbitMQ.Host" value="27.72.29.38:5672" />-->
		<add key="RabbitMQ.Host" value="localhost:5672" />
		<add key="RabbitMQ.VirtualHost" value="/" />
		<add key="RabbitMQ.User" value="guest" />
		<add key="RabbitMQ.Password" value="guest" />
		<!--Company - Queue Name-->
		<add key="CustomerId" value="Ariston" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>

